{
  "tabWidth": 2,
  "useTabs": false,
  "arrowParens": "always",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "singleQuote": true,
  "htmlWhitespaceSensitivity": "strict",
  "trailingComma": "all",
  "printWidth": 60,
  "singleAttributePerLine": true,
  "semi": true
}
