@import 'colors';
/*colors_dark*/
$primary: $paletteprimary80;
$on-primary: $paletteprimary20;
$primary-container: $paletteprimary30;
$on-primary-container: $paletteprimary90;
$secondary: $palettesecondary80;
$on-secondary: $palettesecondary20;
$secondary-container: $palettesecondary30;
$on-secondary-container: $palettesecondary90;
$tertiary: $palettetertiary80;
$on-tertiary: $palettetertiary20;
$tertiary-container: $palettetertiary30;
$on-tertiary-container: $palettetertiary90;
$error: $paletteerror80;
$error-container: $paletteerror30;
$on-error: $paletteerror20;
$on-error-container: $paletteerror90;
$background: $paletteneutral0;
$on-background: $paletteneutral90;
$surface: $paletteneutral10;
$on-surface: $paletteneutral90;
$surface-variant: $paletteneutral-variant30;
$on-surface-variant: $paletteneutral-variant80;
$outline: $paletteneutral-variant60;
$inverse-on-surface: $paletteneutral10;
$inverse-surface: $paletteneutral90;
$inverse-primary: $paletteprimary40;
$shadow: $paletteneutral0;
$surface-tint: $paletteprimary80;
$outline-variant: $paletteneutral-variant30;
$scrim: $paletteneutral0;
