@import "colors";
/*colors_light*/
$primary: $paletteprimary40;
$on-primary: $paletteprimary100;
$primary-container: $paletteprimary90;
$on-primary-container: $paletteprimary10;
$secondary: $palettesecondary40;
$on-secondary: $palettetertiary100;
$secondary-container: $palettesecondary90;
$on-secondary-container: $palettesecondary10;
$tertiary: $palettetertiary40;
$on-tertiary: $palettetertiary100;
$tertiary-container: $palettetertiary90;
$on-tertiary-container: $palettetertiary10;
$error: $paletteerror40;
$error-container: $paletteerror90;
$on-error: $paletteprimary100;
$on-error-container: $paletteerror10;
$background: $paletteneutral99;
$on-background: $paletteneutral10;
$surface: $paletteneutral-variant95;
$on-surface: $paletteneutral10;
$surface-variant: $paletteneutral-variant90;
$on-surface-variant: $paletteneutral-variant30;
$outline: $paletteneutral-variant50;
$inverse-on-surface: $paletteneutral95;
$inverse-surface: $paletteneutral20;
$inverse-primary: $paletteprimary80;
$shadow: $paletteneutral0;
$surface-tint: $paletteprimary40;
$outline-variant: $paletteneutral-variant80;
$scrim: $paletteneutral0;
