@import 'variables.scss';
/* light */
$primary-light: $primary40;
$on-primary-light: $primary100;
$primary-container-light: $primary90;
$on-primary-container-light: $primary10;
$secondary-light: $secondary40;
$on-secondary-light: $tertiary100;
$secondary-container-light: $secondary90;
$on-secondary-container-light: $secondary10;
$tertiary-light: $tertiary40;
$on-tertiary-light: $tertiary100;
$tertiary-container-light: $tertiary90;
$on-tertiary-container-light: $tertiary10;
$error-light: $error40;
$error-container-light: $error90;
$on-error-light: $primary100;
$on-error-container-light: $error10;
$background-light: $neutral99;
$on-background-light: $neutral10;
$surface-light: $neutral95;
$on-surface-light: $neutral10;
$surface-variant-light: $neutral-variant90;
$on-surface-variant-light: $neutral-variant30;
$outline-light: $neutral-variant50;
$inverse-on-surface-light: $neutral95;
$inverse-surface-light: $neutral20;
$inverse-primary-light: $primary80;
$shadow-light: $neutral0;
$surface-tint-light: $primary40;
$outline-variant-light: $neutral-variant80;
$scrim-light: $neutral0;
